---
import BaseLayout from '../layouts/BaseLayout.astro'
import { sectionLinks } from '../consts'
---

<BaseLayout>
	<main class="wrapper">
		{sectionLinks.map((link) => (
			<section id={link.href.replace("#", "")} class="scroll-mt-24 min-h-screen py-16">
				<h2>{link.label}</h2>
			</section>
		))}
	</main>
</BaseLayout>